<!-- todos/templates/todos/confirm_delete.html -->
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<head>
    <title>Delete Todo</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <h1>Are you sure you want to delete this Todo: {{ todo.title }}?</h1>
    
    <div class="confirmation-delete">
        <form method="POST">
            {% csrf_token %}
            <button type="submit">Yes, delete it</button>
        </form>
        
        <a href="{% url 'todo_list' %}">Cancel</a>
    </div>
</body>

</html>
