{% load static %}

<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">

<head>
    <title>Update Todo</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Update Todo: {{ todo.title }}</h1>
    <form class="update-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Todo</button>
    </form>
    <a href="{% url 'todo_list' %}" class="back-button">Back to Todo List</a>
</body>
</html>
